body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;    
}

#screen {
    overflow: auto;
}

#title {
    width: 250px;
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: cornflowerblue;
}

#rules { 
    width: 400px;
    height: 400px;
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: cornflowerblue;
}

#random {
    width: 200px;
    height: 100px;
    padding: 4px;
    font-size: 3vw;
    color: white;
    background-color: blue;
}

#score {
    width: 200px;
    height: 100px;
    padding: 4px;
    color: white;
    background-color: cornflowerblue;
}

#score-title {
    width: 200px;
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: cornflowerblue;
}

.crystals-button {
    display: inline;
}

.crystal-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: white;
    border: solid;
    border-color: lightblue;
}

#score-number {
    font-size: 3vw;
}

#winner {
    width: 80px;
    height: 100px;
    padding: 4px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: cornflowerblue;
}